<ul>
    {% for article in articles %}
    <li>
        <h2>{{ article.title }}</h2>
        {% if article.author.name is defined %}
            <small>Автор: {{ article.author.name }}</small>
        {% else %}
            <small>Автор: —</small>
        {% endif %}
        <p>{{ article.content }} <a href="/?ctrl=Article&id={{ article.id }}">Читать дальше</a></p>
    </li>
    {% endfor %}
</ul>