<ul>
    {% for article in articles %}
    <li>
        <h2>{{ article.title }}</h2>
        <small>Автор:
            {% if article.author is defined %}
                {{ article.author.name }}
            {% else %}
                —
            {% endif %}
        </small>
        <p>{{ article.content }} <a href="/?ctrl=Article&id={{ article.id }}">Читать дальше</a></p>
    </li>
    {% endfor %}
</ul>