<h1>{{ article.title }}</h1>
<small>Автор:
    {% if article.author is defined %}
        {{ article.author.name }}
    {% else %}
        —
    {% endif %}
</small>
<p>{{ article.content }}</p>
<p><a href="/index.php">Назад</a></p>